.nav{
  border:0px solid #ccc;
  background-color: black;
  list-style:none;
  text-align:center;
  color: aliceblue;
  opacity: 0.8;
}
.nav li{
  display:inline-block;
  color: aliceblue;
}
.nav a{
  padding:10px;
  display:inline;
  padding:10px;
  font-size: 17px;
  color: aliceblue;
}
.nav a:hover {
  
  background-color: #ddd;
  color: black;
}
.nav a.active {
  background-color: #4CAF50;
  color: white;
}

body{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  
}

.box{
  display: block;
}

input{
  border: none;
	position: relative;
	display: block;
	outline: none;
	width: 400px;
	height: 50px;
	top: 220px;
	margin: 0 auto;
	padding: 10px;
	color: #c0c0c0;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
}

button{
  position: relative;
  top: 220px;
}